img#pilt1{
    border: 5px solid mediumvioletred;
    border-radius: 40px;
    width: 20%;
    padding: 1%;
    margin-left: 40%;
}
img#pilt2{
    border: 5px solid mediumvioletred;
    border-radius: 40px;
    padding: 1%;
    width: 600px;
    float: right;
    margin-right: 10%;
}
img#pilt3{
    border: 5px solid mediumvioletred;
    border-radius: 40px;
    padding: 1%;
    height: 350px;
    margin-left: 5%;
    float: left;
}
h1{
    font-family:Georgia, Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: darkblue;
    text-align: center;
}
h2{
    font-family:Georgia, Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: #1287ac;
    text-align: center;
}
h3{
    font-family:Georgia, Times, serif;
    letter-spacing: 2px;
    color: darkmagenta;
    margin-left: 8%;
}
body{
    font-family:Georgia, Times, serif;
    background-color: lavender;
}
p{
    font-family:Georgia, Times, serif;
}
p#loik1{
    font-family:Georgia, Times, serif;
    float: left;
}
p#kood{
    font-family:Georgia, Times, serif;
    border: 3px inset mediumvioletred;
    background-color: #c191be;
    width: 30%;
    padding: 1%;
    margin-left: 5%
}
p#kood1{
    font-family:Georgia, Times, serif;
    border: 3px inset mediumvioletred;
    background-color: #c191be;
    width: 30%;
    padding: 1%;
    margin-left: 5%
}
p#kood2{
    font-family:Georgia, Times, serif;
    border: 3px inset mediumvioletred;
    background-color: #c191be;
    width: 30%;
    padding: 1%;
    margin-left: 5%
}
p#kood3{
    font-family:Georgia, Times, serif;
    border: 3px inset mediumvioletred;
    background-color: #c191be;
    width: 30%;
    padding: 1%;
    margin-left: 5%
}
p#kood4{
    font-family:Georgia, Times, serif;
    border: 3px inset mediumvioletred;
    background-color: #c191be;
    width: 30%;
    padding: 1%;
    margin-left: 5%
}
p#kood5{
    font-family:Georgia, Times, serif;
    border: 3px inset mediumvioletred;
    background-color: #c191be;
    width: 30%;
    padding: 1%;
    margin-left: 5%
}
ul#list1{
    list-style-type: square;
    margin-left: 5%;
    border: 3px dotted mediumvioletred;
    width: 30%;
}
ul#list2{
    list-style-type: square;
    margin-left: 2%;
}
ul#list3{
    list-style-type: square;
    margin-left: 2%;
}
ul#list4{
    list-style-type: square;
    margin-left: 2%;
}
ul#list5{
    list-style-type: square;
    margin-left: 2%;
}
table{
    width: auto;
    border-radius: 40px;
    padding: 1%;
    text-align: left;
    font-family:Georgia, Times, serif;
    border: 5px solid mediumvioletred;
    margin: auto;
}
th, td{
    padding: 12px 15px;
    border: 1px dotted darkmagenta;
}
.nav{
    list-style: none; /* Убираем маркеры списка */
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #8ac8ef;
}
.nav a{
    text-decoration: none;
    color: #0b3091;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease; /* Плавный переход при наведении */
}
.fixed-header{
    position: fixed; /* Закрепляет навигацию */
    top: 0;
    right: 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень для визуального эффекта */
}